/* classes */
.bg {
  height: 100%;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("../images/indexbg.png");
}

.regform-container{
  background: rgba(0,0,0,0.5);
}

.form-class {
  margin: 3% 3%;
  color:  #8bffff;
}

.regform {
  height: 100%;
  border: 1px solid black;
}










/* ids */










/* tags */
body {
  margin-top: 5%;
  margin-bottom: 5%;
}

h1 {
  display:inline;
  line-height: 1.5;
  margin: 0 0;
  padding: 8px 8px;
  position: relative;
  left: 10px;
  bottom: 25px;
  color: #0066cc;
  background: inherit;
}

@media (max-width: 1028px) {
  h1 {
    position: static;
  }
}
